stages:
  - build
  - docker-push
  - deploy

variables:
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA

build:
  stage: build
  image: node:20
  script:
    - npm ci
    - npm run build
  artifacts:
    paths:
      - dist/
      - Dockerfile
      - k8s/deployment.yaml
      - k8s/service.yaml
      - k8s/ingress.yaml
    expire_in: 1 hour 

docker-push:
  stage: docker-push
  image: docker:24
  services:
    - name: docker:24-dind
      command: ["--insecure-registry", "registry-1.docker.io"]
  dependencies:
    - build
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  script:
    - docker build --build-arg VITE_API_URL=$VITE_API_URL -t "$DOCKER_IMAGE_NAME":$IMAGE_TAG .
    - docker push "$DOCKER_IMAGE_NAME":$IMAGE_TAG
  only:
    - main

deploy:
  stage: deploy
  image: alpine:latest
  dependencies:
    - docker-push
  before_script:
    - apk add --no-cache openssh bash
    - mkdir -p ~/.ssh
    - echo "$EC2_SSH_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H "$EC2_HOST" >> ~/.ssh/known_hosts 
  script:
    - sed "s|REPLACE_ME_TAG|$IMAGE_TAG|g" k8s/deployment.yaml > deployment.yaml
    - echo "Deploying frontend to Kubernetes on EC2"
    - ssh $EC2_USER@$EC2_HOST "mkdir -p ~/app/fe/k8s"
    - scp deployment.yaml k8s/service.yaml k8s/ingress.yaml $EC2_USER@$EC2_HOST:~/app/fe/k8s/
    - |
      ssh $EC2_USER@$EC2_HOST "
        sudo k3s kubectl apply -f ~/app/fe/k8s/ &&
        sudo k3s kubectl rollout status deployment/apap-fe -n default
      "
  only:
    - main